<html>
<head>
    <title>Fab or Drab</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</head>

<body>

<div id="content">
    <div id="header">
        <div>
            <h1>Fab or Drab</h1>
        </div>
        <br clear="all"/>
    </div>
    
    <div id="nav" style="float:right">
        <p>
            <a href='/'>Home</a> |
            <a href='/search'>Search</a>
            <% if @user %>
                |
                <a href='/vote'>Vote</a> |
                <a href='/mypics'>My Pictures</a> |
				<a href='/upload'>Upload</a> |
                <a href='/disconnect'>Logout</a>
            <% end %>
        </p>
    </div>
    <br clear="all"/>
    
    <%= yield %>
    
    <div id="footer">
        <br/>
        <small>
            Hosted free on <a href="http://heroku.com/">Heroku</a>. API calls remaining: <%= @rate_limit_status['remaining_hits'] %>/<%= @rate_limit_status['hourly_limit'] %> per hour
        </small>
    </div>
    
</div>

</body>
</html>