<div style="padding-left:90px;">
    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="datafile" /><br />
		<input type="text" name="category" value="i'm wearing..." /><br />
		<input type="text" name="brand" value="brand" /><br />
		<input type="text" name="store" value="store" /><br />
		<input type="text" name="price" value="price" /><br />
		<input type="submit" value="Send" />
    </form>
</div>
<br/>