<div class="buttonsRow">
	<div class="zurb button vote purple blueHover" type="fab">Fab</div>
	<span style="margin-right:6px;margin-left:6px;">or</span>
	<div class="zurb button vote purple orangeHover" type="drab">Drab</div>		
</div>	
<div class="image">
	<img src="<%= @url %>" />		
</div>